/* button menu css */
.menu-container {
    position: fixed;
    bottom: 30px;
    right: 30px; /* Aligne le menu à droite */
    z-index: 100;
}

.menu-button {
    width: 60px;
    height: 60px;
    background-color: #ff4d4d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
}

.menu-button:hover {
    background-color: #ff3333;
}

.social-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    background: transparent;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.social-menu.active {
    display: flex;
    transform: translateX(-50%) scaleY(1);
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}
.social-icon:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 20px;
    color: #ff4d4d;
    margin-right: 5px;
}

.icon-title {
    font-size: 12px;
    color: white;
    text-align: left;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 20px;
    }
}
